<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="GpaCalculatorLibrary.Gpa">
        <endpoint
          address="net.tcp://localhost:13200/GpaCalculatorLibrary/GPAService"
          binding="netTcpBinding"
          contract="GpaCalculatorLibrary.IGpa" />
      </service>
    </services>
  </system.serviceModel>
</configuration>